
table {
  text-align: center;
  margin: 0 auto;
  width: 98%;

  td {
    padding: 5px;
  }

  tr {
    border: 1px solid oklch(0.87 0 0)
  };

  th {
    background-color: oklch(0.705 0.015 286.067);
    color: white;
    padding: 7px;
  }

}

tr:hover {
  background-color: oklch(0.87 0 0);
}