
table {
  text-align: center;
  margin: 0 auto;
  width: 100%;

  td {
    padding: 5px;
  }

  th {
    background-color: oklch(0.705 0.015 286.067);
    color: white;
    padding: 7px;
  }

}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: oklch(0.87 0 0);
}